/* Write your CSS here */
.home-route-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .home-route-con {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.teams-list-con {
  width: 90%;
  max-width: 600px;
}
@media (min-width: 768px) {
  .teams-list-con {
    width: 90%;
    max-width: 1110px;
  }
}
.ipl-db-heading-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  width: 25px;
  height: 40px;
}
@media (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 90px;
  }
}
.ipl-db-heading {
  color: white;
  font-family: 'Bree Serif';
  font-size: 36px;
  margin-left: 12px;
}
@media (min-width: 768px) {
  .ipl-db-heading {
    font-size: 72px;
    margin-left: 16px;
  }
}
.loader-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.teams-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
